@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.App {
  text-align: center;
  font-family: "Space Mono", monospace;
}

table {
  margin: auto;
}

label {
  margin-bottom: 100px;
}
